@model IMS.DataAccess.OnSiteOperator

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OnSiteOperator</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OperatorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

