<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="IMSORMModelContainer"
			 connectionString="metadata=res://*/IMSORMModel.csdl|res://*/IMSORMModel.ssdl|res://*/IMSORMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;Initial Catalog=IMS;Persist Security Info=True;User ID=sa;Password=testtest;multipleactiveresultsets=True;&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="PhotoService" />			<service name="ReportService" />
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Xml" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<webHttpBinding>
			</webHttpBinding>
		</bindings>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

</configuration>
