<?xml version="1.0" encoding="utf-8"?>

<!-- Weitere Informationen zur Verwendung der web.config-Transformation finden Sie unter http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="IMSORMModelContainer"
			 connectionString="metadata=res://*/IMSORMModel.csdl|res://*/IMSORMModel.ssdl|res://*/IMSORMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:rwj26js88w.database.windows.net;Initial Catalog=IMS;Persist Security Info=True;User ID=cclogin;Password=lszF4ü43/BrocMan;multipleactiveresultsets=True;&quot;" providerName="System.Data.EntityClient"
			 xdt:Transform="SetAttributes" 
			 xdt:Locator="Match(name)"/>
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>

</configuration>